@page "/admin"
@layout MainLayout
@attribute [Authorize(Roles = "SuperAdmin")]

<h2 class="mt-4">Admin Area</h2>
<p>Only SuperAdmins can see this.</p>

<div class="mb-4">
    <NavLink class="btn btn-warning me-2" href="/admin/items">Manage Items</NavLink>
    <NavLink class="btn btn-warning me-2" href="/admin/ge-positive">Manage Positive Events</NavLink>
    <NavLink class="btn btn-warning" href="/admin/ge-negative">Manage Negative Events</NavLink>
</div>
