@page "/admin"
@layout MainLayout
@attribute [Authorize(Roles = "SuperAdmin")]

<h2 class="mt-4">Admin Area</h2>
<p>Only SuperAdmins can see this.</p>

<ul class="list-unstyled">
	<li><NavLink href="/admin/items">Manage Items</NavLink></li>
	<li><NavLink href="/admin/ge-positive">Manage Positive Events</NavLink></li>
	<li><NavLink href="/admin/ge-negative">Manage Negative Events</NavLink></li>
</ul>
