@inherits LayoutComponentBase
@using Microsoft.Extensions.Options
@using ActionCommandGame.BlazorApp.Settings
@inject IOptions<AppSettings> AppSettings

<div class="minimal-layout">
    <header class="header">
        <div class="container">
            <h1 class="site-title">@AppSettings.Value.GameName</h1>
        </div>
    </header>

    <main class="content container">
        @Body
    </main>

    <footer class="footer">
        <div class="container footer-inner">
            <span class="footer-left">
                &copy; @DateTime.Now.Year - @AppSettings.Value.GameName
            </span>
            <span class="footer-right">
                by @AppSettings.Value.CreatorName
            </span>
        </div>
    </footer>
</div>
