<nav class="navmenu">
    <div class="container nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <NavLink href="@AppRoutes.Player.PlayerSelection" class="nav-link" Match="NavLinkMatch.All">
                    Player Selection
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="@AppRoutes.Game.Shop" class="nav-link" Match="NavLinkMatch.All">
                    Shop
                </NavLink>
            </li>
        </ul>

        <NavLink href="@AppRoutes.Account.Profile" class="profile-link">
            <img src="Images/profile.webp" alt="My Profile" class="profile-icon" />
            <span class="profile-text">Profile</span>
        </NavLink>
    </div>
</nav>
