@model IList<ActionCommandGame.Services.Model.Results.ItemResult>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price tokloons</td>
        </tr>
    }
    </tbody>
</table>