@page "/play/shop"
@layout MainLayout

<div class="shop-page container text-center">
    <h2>Shop</h2>
    <p>This screen is under construction. Choose a player to continue your adventure!</p>
</div>
